<style>
/******************************************************************/
/******************************************************************/
.flexOne {
    display:   flex;
    flex-flow: row wrap;
}

.flexOne > div:first-of-type {
    display:    flex;
    flex-flow:  column;
    padding:    0 6px;
    background: #F1F1F1;
}

.flexOne > div:first-of-type span {
    font-size: 20px;
    cursor:    pointer;
    padding:   5px;
}
.flexOne .textcontent {
    padding: 10px;
    flex:    1 1 0;
}	
/******************************************************************/
/******************************************************************/
</style>
 
<script>
    function callPanel1()
    {   $.jsPanel({ theme:   "rebeccapurple filledlight",
                    content: "<div>"+
                                 "<span class='fa fa-bars'></span>"+
                                 "<span class='fa fa-sign-in'></span>"+
                                 "<span class='fa fa-picture-o'></span>"+
                                 "<span class='fa fa-heart'></span>"+
                                 "<span class='fa fa-comments'></span>"+
                                 "</div>"+
                                 "<div class='textcontent'><h4>Lorem ipsum ...</h4><p>...</p></div>",
                    }).content.addClass('flexOne');                    
    }                    
</script>