body 
{	margin:                     0px;
	overflow:                   hidden;
	font-family:                sans-serif;
}

ul#navigation 
{   position:                   fixed;
    margin:                     0px;
    padding:                    0px;
    top:                        50px;
    left:                       0px;
    list-style:                 none;
    z-index:                    9999;
}
ul#navigation li 
{   width:                      100px;
}

ul#navigation li a 
{   display:                    block;
    margin-left:                -2px;
    margin-top:                 5px;
    margin-bottom:              5px;
    width:                      100px;
    height:                     50px;    
    background-color:           #CFCFCF;
    background-repeat:          no-repeat;
    background-position:        center center;
    border:                     1px solid #AFAFAF;
    border-radius:              0px 10px 10px 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius:    10px;
    box-shadow:                 0px 4px 3px #000;
    opacity:                    0.6;
}

ul#navigation .logout     a     {    background-image: url(../assets/firebase.png);}
ul#navigation .chat       a     {    background-image: url(../assets/firebase.png);}
ul#navigation .settings   a     {    background-image: url(../assets/firebase.png);}
ul#navigation .about      a     {    background-image: url(../assets/firebase.png);}
ul#navigation .podcasts   a     {    background-image: url(../assets/firebase.png);}
ul#navigation .rssfeed    a     {    background-image: url(../assets/firebase.png);}
ul#navigation .contact    a     {    background-image: url(../assets/firebase.png);}

/******************************************************************/
/******************************************************************/
.m-rocker 
{     font-size:180%
}

.m-rocker:not(:checked) > input 
{     position: absolute;
      top: -9999px;
      clip: rect(0,0,0,0);
}

/*green lights*/
.m-rocker:not(:checked) > label:before 
{     content:'ON';
      font-family:monospace;
      font-size: .5em;
      margin-bottom:-.8em;
      color:#242;
      display:block;
      width:100%;
      line-height:0;
      text-indent:0;
      text-align:center;
      position:absolute;
      bottom:98%;
      left:0;
}

/*red lights*/
.m-rocker:not(:checked) > label:after 
{     content:'OFF';
      font-family:monospace;
      font-size: .5em;
      margin-top:-.8em;
      display:block;
      width:100%;
      line-height:0;
      text-indent:0;
      text-align:center;
      position:absolute;
      bottom:17%;
      left:0;
}

.m-rocker:not(:checked) > label 
{     background-color:#222;
      border-color:#445 #334 #223;
      border-width:.25em;
      border-style:solid;
      border-radius:.2em;
      cursor: pointer;
      display: inline-block;
      padding: 0 .5em;
      margin-right:1em;
      position:relative;
      text-indent: -5000px;
      width:1.5em;
      height:3.5em;
}

/* on */

/*green lights on*/
.m-rocker:not(:checked) > input:checked + label:before 
{    color:#0f0;
     text-shadow:0 0 5px rgba(0,255,0,.9);
     bottom:85%;
}

/*red lights*/
.m-rocker input:not(:checked) + label:after 
{    color:#422;
     bottom: 4%;
}

.m-rocker:not(:checked) > input:checked + label 
{    background: #eeeeee; /* Old browsers */
     background: linear-gradient(to bottom,  #eeeeee 0%,#efefef 12%,#999999 15%,#111111 50%,#444444 95%,#111111 100%); /* W3C */
}

/* on - press */

/*green lights*/
.m-rocker:not(:checked) > input:checked + label:active:before 
{    bottom:89%;
}

/*red lights*/
.m-rocker:not(:checked) > input:checked + label:active:after 
{    bottom: 20%;
}

.m-rocker:not(:checked) > input:checked + label:active 
{    background: #eeeeee; /* Old browsers */
     background: linear-gradient(to bottom,  #eeeeee 0%,#efefef 8%,#999999 11%,#111111 50%,#444444 92%,#111111 95%,#111111 100%); /* W3C */
}

/* off state */

/*red lights on*/
.m-rocker input:not(:checked) + label:after 
{    color:#F00;
     text-shadow:0 0 10px rgba(255,0,0,1),0 0 5px rgba(255,0, 0,1);
     bottom: 28%;
}

.m-rocker input:not(:checked) + label 
{    background: #eeeeee; /* Old browsers */
     background: linear-gradient(to bottom,  #eeeeee 0%,#999999 2%,#111111 50%,#444444 78%,#565656 85%,#111111 87%,#000000 100%); /* W3C */
}

/* off - down */

/*green lights*/
.m-rocker input:not(:checked) + label:active:before 
{    bottom:96%;
}

/*red lights*/
.m-rocker input:not(:checked) + label:active:after 
{    bottom: 25%;
}

.m-rocker input:not(:checked) + label:active:active 
{    background: #eeeeee; /* Old browsers */
     background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 3%,#999999 5%,#111111 50%,#444444 89%,#111111 92%,#000000 100%); /* W3C */
}
/******************************************************************/
/******************************************************************/
.flipper {
  position: absolute;
  width: 640px;/*640px;*/
  height: 480px;/*240px;*/
  perspective: 800px;
  box-sizing: border-box;
  transform: translate(0px, -1000px);/*-640px);*/
  transition: transform 1.3s ease-in-out;
}
.flipper.flipped {
  transform: translate(0px, 0px);
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1.3s ease-in-out;
  transform: rotateY(360deg);
}

.flipped .card {
  transform: rotateY(0deg);
}

.notice {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  height: 100%;
  outline: 5px solid #888;
  box-sizing: border-box;
}
.notice hr {
  width: 380px;
}
.notice p {
  margin: 30px auto 0;
  width: 380px;
  text-align: center;
}

/******************************************************************/
/******************************************************************/
/*__MENU STYLES__*/
#menu-wrapper 
{ position:     absolute;
  top:          0;
  left:         0;
  width:        100%;
  opacity:      0.85;
}

#menu-bar {
  display: block;
  width: 100%;
  height: 10px;
  background-color: #FC4349;
}

#menu-tab {
  background-color: #FC4349;
  cursor: pointer;
  float: right;
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
}

#menu-nav {
  display: none;
  padding: 5px 10px;
  background-color: #FC4349;
  color: #333333;
}

#menu-nav ul {
  list-style: none;
  margin: 20px 0 30px;
  padding: 0;
}

#menu-nav ul li{
  padding: 10px;
  border-bottom: 1px solid #E03C41;
  cursor: pointer;
  text-align: center;
}

#menu-nav ul li:first-child{
  border-top: 1px solid #E03C41;
}

#menu-nav ul li:hover{
  background-color: #EB3E44;
}

/******************************************************************/
/******************************************************************/
#clock 
{ width:           160px;/*320px;*//*500px;*/
  height:          120px;/*240px;*//*300px;*/
  position:        absolute;
  left:            50%;
  margin-left:    -80px;/*-160px;*//*-250px;*/
  top:             50%;
  margin-top:     -60px;/*-120px;*//*-150px;*/
  display:         block;
}

/******************************************************************/
/******************************************************************/
.navfloating
{   position:      absolute;
    display:       block;
    float:         left;
    animation-name: Floatingx;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top:  5px;
}

@keyframes Floatingx
{   from    {transform:translate(0, 0px);     }
    65%     {transform:translate(0, 15px);    }
    to      {transform: translate(0, -0px);   }    
}

/******************************************************************/
/******************************************************************/
.box {
  text-align: center;
  background-color: gray;
  margin:auto;
  width: 100px;
  height: 20px;
  padding: 10px 0px 0px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: black 1px 1px 2px;
  opacity: 0.5;
  font-family:sans-serif;
  float: left;
  margin-right: 5px;
  margin-left: 10px
}
.box:hover {
  cursor: pointer;
  height: 30px;
  opacity: 0.7;
  transition: opacity 1s ease-in;
  transition: height 0.3s ease-in;
}
p {
  color: black;
  text-shadow: white 0px 1px;
  opacity: 1;
  margin-top: -7px;
  margin-left: -5px;
}
.box p:hover {
  opacity: 0.7;
  margin-top: 1.5px;
  transition: margin-top 0.2s ease-in;
}
.boxcontainer {
  background-color:rgba(1,1,1,1);
  width:auto;
  height:32px;
  margin:auto;
  box-shadow: grey 3px 1px 2px 3px;
}
/******************************************************************/
/******************************************************************/
.tabs 
{	width:         100%;
	max-width:     100%;/*600px;*/
	margin:        0 auto;/*100px auto*/;
}

input 
{   opacity:       0;
}

label 
{   cursor:         pointer;
	background:    -webkit-linear-gradient(#666, #555);
	color:          #eee;
	border-radius:  5px 5px 0 0;
	padding:        1.5% 3%;
	float:          left;
	margin-right:   2px;
	font:           italic 1em cambria;
}

label:hover 
{   background:     -webkit-linear-gradient(#777, #666);
}

input:checked + label 
{   background:     #fff;
	color:          #333;
}

.tabs input:nth-of-type(1):checked ~ .panels .panel:first-child,
.tabs input:nth-of-type(2):checked ~ .panels .panel:nth-child(2),
.tabs input:nth-of-type(3):checked ~ .panels .panel:nth-child(3),
.tabs input:nth-of-type(4):checked ~ .panels .panel:last-child 
{   opacity: 1;
	transition: .3s;
}

.panels 
{   float: left;
	clear: both;
	position: relative;
	width: 100%;
	background: #fff;
	border-radius: 0 10px 10px 10px;
	min-height: 315px;
}

.panel 
{   width: 100%;
	opacity: 0;
	position: absolute;
	background: #fff;
	border-radius: 0 10px 10px 10px;
	padding: 4%;
	box-sizing: border-box;
}

.panel h2 
{   margin: 0;
	font-family: Arial;
}

/******************************************************************/
/******************************************************************/

.accordion {
  width: 100%;
  max-width: 1080px;
  height: 250px;
  overflow: hidden;
  margin: 0px auto;
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  font-family: Montserrat,sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}
.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}
.accordion ul li:nth-child(1) {
  background-image: url("https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg");
}
.accordion ul li:nth-child(2) {
  background-image: url("https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg");
}
.accordion ul li:nth-child(3) {
  background-image: url("https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg");
}
.accordion ul li:nth-child(4) {
  background-image: url("https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg");
}
.accordion ul li:nth-child(5) {
  background-image: url("https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg");
}
.accordion ul li:nth-child(6) {
  background-image: url("https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg");
}
.accordion ul:hover li {
  width: 8%;
}
.accordion ul:hover li:hover {
  width: 48%;
}
.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }
  .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}


/******************************************************************/
/******************************************************************/
.classyfooter 
{	bottom:           0;
	left:             0;
	position:         fixed;/*absolute;*/
    width:            100%;
    height:           2em;/*100px;*/
    overflow:         hidden;
    margin:           0 auto;
    transition:       all 1s ease;
	z-index:          999;
	opacity:          0.85;
    /*
    background:       url("http://www.hawksrestcabins.com/wp-content/uploads/2014/06/wood-texture-hd.jpg");
    background-size:  cover;   	
    */
}

.classyfooter #button
{	width:             35px;
	height:            35px;
	border:            #727172 12px solid;
	border-radius:     35px;
	margin:            0 auto;
	position:          relative;
    transition:        all 1s ease;
    opacity:           0.1;
}

.classyfooter #button:hover
{	width:             35px;
	height:            35px;
	border:            #3A3A3A 12px solid;
    transition:        all 1s ease;
	position:          relative;
}

.classyfooter:hover {
    transition: all 1s ease;
	height: 10em;
}

.classyfooter #classyfootercontainer
{	margin-top:5px;
	width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
	background: #3A3A3A;
}
.classyfooter #classyfootercont
{
    position: relative;
    top:      -45px;
    /*right:    190px;*/
	width:    100%;/*150px;*/
	height:   auto;
	margin:   0 auto;
}
.classyfooter_center{
	width:  100%;/*500px;*/
	float:   left;
  text-align:center;
}

.classyfooter h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}

/******************************************************************/
/******************************************************************/
#footer 
{  position:         absolute;
   bottom:           0;
   width:            100%;
   height:           100px;   /* Height of the footer */
   opacity:          0.85;
   
   background:       url("http://www.hawksrestcabins.com/wp-content/uploads/2014/06/wood-texture-hd.jpg");
   background-size:  cover;   
   
}

/*div#footercontainer { zoom: 0.75; -moz-transform: scale(0.75); }*/
/*div#footercontainer { transform: scale(0.5); }*/

.iconbtn {
  border-radius: 50%;
  display: inline-block;
  padding: 12px;
  text-align: center;
  background: linear-gradient(45deg, #5c5323 0, #b8aa14 50%, #5c5323 100%);
  box-shadow: inset 0 4px 0px 1px rgba(255, 255, 255, 0.2), inset 0 6px 1px -2px rgba(255, 255, 255, 0.1), inset 0 -1px 0px 1px rgba(0, 0, 0, 0.3), inset 0 -4px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 5px;
}
.iconbtn input[type=radio] {
  display: none;
  background: linear-gradient(135deg, #aa3333, #111111);
}
.iconbtn input[type=radio]:checked#snapchat + label {
  background: #fffc00;
  box-shadow: 0 0 2px 1px rgba(255, 254, 128, 0.75);
}
.iconbtn input[type=radio]:checked#snapchat + label i.fa {
  color: #fffc00;
  text-shadow: 1px 1px 1px rgba(255, 254, 128, 0.75), -1px -1px 1px rgba(255, 254, 128, 0.75);
}
.iconbtn input[type=radio]:checked#facebook + label {
  background: #3b5998;
  box-shadow: 0 0 2px 1px rgba(131, 156, 207, 0.75);
}
.iconbtn input[type=radio]:checked#facebook + label i.fa {
  color: #3b5998;
  text-shadow: 1px 1px 1px rgba(131, 156, 207, 0.75), -1px -1px 1px rgba(131, 156, 207, 0.75);
}
.iconbtn input[type=radio]:checked#twitter + label {
  background: #55acee;
  box-shadow: 0 0 2px 1px rgba(201, 229, 250, 0.75);
}
.iconbtn input[type=radio]:checked#twitter + label i.fa {
  color: #55acee;
  text-shadow: 1px 1px 1px rgba(201, 229, 250, 0.75), -1px -1px 1px rgba(201, 229, 250, 0.75);
}
.iconbtn input[type=radio]:checked#google + label {
  background: #dd4b39;
  box-shadow: 0 0 2px 1px rgba(240, 174, 166, 0.75);
}
.iconbtn input[type=radio]:checked#google + label i.fa {
  color: #dd4b39;
  text-shadow: 1px 1px 1px rgba(240, 174, 166, 0.75), -1px -1px 1px rgba(240, 174, 166, 0.75);
}
.iconbtn input[type=radio]:checked#linkedin + label {
  background: #007bb5;
  box-shadow: 0 0 2px 1px rgba(54, 190, 255, 0.75);
}
.iconbtn input[type=radio]:checked#linkedin + label i.fa {
  color: #007bb5;
  text-shadow: 1px 1px 1px rgba(54, 190, 255, 0.75), -1px -1px 1px rgba(54, 190, 255, 0.75);
}
.iconbtn input[type=radio]:checked#pinterest + label {
  background: #cb2027;
  box-shadow: 0 0 2px 1px rgba(235, 128, 132, 0.75);
}
.iconbtn input[type=radio]:checked#pinterest + label i.fa {
  color: #cb2027;
  text-shadow: 1px 1px 1px rgba(235, 128, 132, 0.75), -1px -1px 1px rgba(235, 128, 132, 0.75);
}
.iconbtn input[type=radio] + label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  padding: 4px;
}
.iconbtn input[type=radio] + label i.fa {
  font-size: 3.25rem;
  line-height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle farthest-side at center, rgba(0, 0, 0, 0.3) 50%, transparent 85%), linear-gradient(130deg, #665500 10%, #7c5e03 40%, #aa8109 65%, #4d4000 100%);
  color: rgba(255, 215, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 4px 0px 1px rgba(255, 255, 255, 0.1), inset 0 -4px 1px 2px rgba(0, 0, 0, 0.2);
}

/******************************************************************/
/******************************************************************/
/*#tabcontainer   { width:300px;height:90px; border:1px solid #999999;}*/
#tabcontainer   { width:100%; height:480px; border:1px solid #999999;}
#tabcontainer ul{ margin:0px; padding:3px 0px 0px 5px; height:22px;  background-color:#D9D9D9;}
#tabcontainer li{		
		 list-style:none;
		 float:left;
		 width:70px;
		 text-align:center;
		 font-size:12px;
		 background-color:#D9D9D9;	 
		 padding-top:2px;
		 padding-bottom:5px;		 
	 }

.tag
{   background-color:#FFFFFF; 
	border:1px solid #999999;
	border-bottom:0px;
    color: red;
}

.tabhidden
{   display:none;
}

.show
{   display:block;
}

/******************************************************************/
/******************************************************************/
#reqtangleOne {
    position: relative;
    top: 0px;
    left: 100px;
    width: 400px;
    height: 200px;
    background-color: #007bff;
}

#reqtangleTwo {
    position: relative;
    top: -193px;
    left: 100px;
    width: 390px;
    height: 180px;
    border-width: 3px 3px 3px 0px;
    border-color: #FFF;
    border-style: solid;
    z-index: 1;  
  	-webkit-animation-name: bounceInLeft;
  	animation-name: bounceInLeft;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: 1;
}

#reqtangleTwo p {
    position: relative;
    font-family: Arial;
    color: #FFF;
    text-align: justify;
    width: 260px;
    height: 140px;
    margin-top: 0px;
    margin-left: 3px;
    padding: 20px 20px 20px 110px;
    overflow-y: auto;
    z-index: 1;  
  	-webkit-animation-name: bounceInDown;
  	animation-name: bounceInDown;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2.3s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-delay: 2.3s;
    -moz-animation-iteration-count: 1;
}

#triangle {
    position: relative;
    top: -386px;
    left: 500px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 100px 100px;
    border-color: transparent transparent transparent #007bff;
}

#imgSpin {  
  	-webkit-animation-name: bounceInLeft;
  	animation-name: bounceInLeft;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: 1;
}

#circleOne, #reqtangleOne, #triangle {
    -webkit-animation-name: bounceInLeft;
  	animation-name: bounceInLeft;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-delay: 1.5s;
    -moz-animation-iteration-count: 1;
}

#circleOne {
    position: relative;
    top: -586px;
    width: 200px;
    height: 200px;
    background-color: #007bff;
    border-radius: 50%;
}

#circleTwo {
    position: relative;
    top: -779px;
    left: 7px;
    width: 180px;
    height: 180px;
    background-color: #007bff;
    border-radius: 50%;
    border: 3px solid #FFF;
}

#iconIn img {
    position: relative;
    top: -1133px;
    left: 17px;
    border-radius: 50%;
    border: 3px solid #FFF; 
  	-webkit-animation-name: fadeIn;
  	animation-name: fadeIn;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2.8s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-delay: 2.8s;
    -moz-animation-iteration-count: 1;
    z-index: 2;
}

#border_spin {
    position: relative;
    top: -961px;
    left: 11px;
    border: 9px dotted #FFF;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    -webkit-animation: anim 30s infinite linear;
    -moz-animation: anim 30s infinite linear;
    -ms-animation: anim 30s infinite linear;
    animation: anim 30s infinite linear;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}

/*ANIMATIONS*/

@-webkit-keyframes anim {
  	0%{-webkit-transform:rotate(0deg);} 
  	50%{-webkit-transform:rotate(360deg);} 
  	100%{-webkit-transform:rotate(720deg);}}
@-moz-keyframes anim {
  	0%{-moz-transform:rotate(0deg);} 
  	50%{-moz-transform:rotate(360deg);} 
  	100%{-moz-transform:rotate(720deg);}}
@-ms-keyframes anim {
  	0%{-ms-transform:rotate(0deg);} 
  	50%{-ms-transform:rotate(360deg);} 
  	100%{-ms-transform:rotate(720deg);}}
@keyframes anim {
  	0%{transform:rotate(0deg);} 
  	50%{transform:rotate(360deg);} 
  	100%{transform:rotate(720deg);}}

@-webkit-keyframes bounceInLeft {
    0% {opacity: 0; -webkit-transform: translateX(-2000px); transform: translateX(-2000px);}
    60% {opacity: 1; -webkit-transform: translateX(30px); transform: translateX(30px);}
    80% {-webkit-transform: translateX(-10px); transform: translateX(-10px);}
    100% {-webkit-transform: translateX(0); transform: translateX(0);}}
@keyframes bounceInLeft {
    0% {opacity: 0; -webkit-transform: translateX(-2000px); -ms-transform: translateX(-2000px); transform: translateX(-2000px);}
    60% {opacity: 1; -webkit-transform: translateX(30px); -ms-transform: translateX(30px); transform: translateX(30px);}
    80% {-webkit-transform: translateX(-10px); -ms-transform: translateX(-10px); transform: translateX(-10px);}
    100% {-webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0);}}

@-webkit-keyframes bounceInDown {
    0% {opacity: 0; -webkit-transform: translateY(-2000px); transform: translateY(-2000px);}
    60% {opacity: 1; -webkit-transform: translateY(30px); transform: translateY(30px);}
    80% {-webkit-transform: translateY(-10px); transform: translateY(-10px);}
    100% {-webkit-transform: translateY(0); transform: translateY(0);}}
@keyframes bounceInDown {
    0% {opacity: 0; -webkit-transform: translateY(-2000px); -ms-transform: translateY(-2000px); transform: translateY(-2000px);}
    60% {opacity: 1; -webkit-transform: translateY(30px); -ms-transform: translateY(30px); transform: translateY(30px);}
    80% {-webkit-transform: translateY(-10px); -ms-transform: translateY(-10px); transform: translateY(-10px);}
    100% {-webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0);}}

@-webkit-keyframes bounceOutRight {
    0% {-webkit-transform: translateX(0); transform: translateX(0);}
    20% {opacity: 1; -webkit-transform: translateX(-20px); transform: translateX(-20px);}
    100% {opacity: 0; -webkit-transform: translateX(2000px); transform: translateX(2000px);}}
@keyframes bounceOutRight {
    0% {-webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0);}
    20% {opacity: 1; -webkit-transform: translateX(-20px); -ms-transform: translateX(-20px); transform: translateX(-20px);}
    100% {opacity: 0; -webkit-transform: translateX(2000px); -ms-transform: translateX(2000px); transform: translateX(2000px);}}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}}
    
    
/******************************************************************/
/******************************************************************/
.clear:after,
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.btn li, .dock {
	border-radius: 3px;
	background: #10ace4;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 0 #9ae3ff;
	background-image: linear-gradient(top,#00b4f5,#008dc5);
}

/*
.container {
	width: 720px;
	margin: 100px auto;
	position: relative;
}
*/

.btn {
	z-index:99;
	text-align: center;
	position: absolute;
	top: -60px;
	left: 30px;
}

.btn li {
	float: left;
	margin: 8px;
	width: 115px;
	cursor: pointer;
	padding: 15px 5px 5px;
	-webkit-transition: all .2s ease-out; 
	-moz-transition: all .2s ease-out; 
	-o-transition: all .2s ease-out; 
	transition: all .2s ease-out;
}

.btn li:hover {
	margin-top: 0;
}

.btn i {
	color: #fff;
	font: 40px/70px 'FontAwesome';
}

.btn b {
	display: block;
	color: #2aa4d5;
	border-radius: 3px;
	background: #e0f3ff;
	font: 400 12px/32px 'Montserrat';
}

.dock {
	height: 90px;
	border-radius: 0;
}

.tab-content {
	clear: both;
	display: none;
	background: #fff;
	border-right: 1px solid #bbb;
	border-left: 1px solid #bbb;
}

.tab-content.active {
	display: block;
}

article  {
padding:30px; 
font: 15px/23px arial; 
border-bottom:1px solid #bbb; 
}

article p {
margin:10px 0; 
}

article h2 { 
margin-bottom:20px; 
font-size:22px;
}

/******************************************************************/
/******************************************************************/
.hammenu-wrapper {
  position: absolute;
  top:      50px;
  right: 5px;
  width: 64px;
  height: 64px;
  z-index: 3200;
  -webkit-transition: all 300ms ease 0ms;
  transition: all 300ms ease 0ms;
  border: 1px solid #999;
  cursor: pointer;
}
.hammenu-wrapper:after {
  content: '\f0c9';
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #666;
  top: 0;
  left: 0;
  font: 24px/64px 'FontAwesome';
  text-align: center;
  color: #fff;
}
.hammenu-wrapper nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  z-index: -1;
}
.hammenu-wrapper nav a {
  box-sizing: border-box;
  background-color: rgba(128, 128, 128, 0.33);
  border-color: #999;
  border-style: solid;
  border-width: 0 1px;
  color: black;
  display: block;
  font: 14px/64px sans-serif;
  height: 64px;
  opacity: 0.5;
  padding: 0px 26px;
  position: absolute;
  right: -1px;
  text-align: left;
  text-decoration: none;
  top: 0;
  -webkit-transition: all 300ms ease 0ms, width 0ms ease-out 0ms;
  transition: all 300ms ease 0ms, width 0ms ease-out 0ms;
  vertical-align: middle;
  width: 64px;
  z-index: -1;
  overflow: hidden;
}
.hammenu-wrapper nav a i {
  vertical-align: middle;
  font-size: 20px;
}
.hammenu-wrapper nav a span {
  display: inline;
  vertical-align: middle;
  -webkit-transform: scale(0, 1);
  margin-left: 5px;
  text-transform: uppercase;
}
.hammenu-wrapper nav a:first-of-type {
  border-width: 1px 1px 0 1px;
}
.hammenu-wrapper nav a:last-of-type {
  border-width: 0 1px 1px 1px;
}
.hammenu-wrapper nav a:hover {
  background-color: gray;
  color: white;
}
.hammenu-wrapper nav a:hover span {
  color: white;
}
.hammenu-wrapper.open:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 0px;
  width: 100%;
  border-bottom: 1px solid white;
}
.hammenu-wrapper.open nav a {
  opacity: 1;
  width: 280px;
}
.hammenu-wrapper.open nav a:nth-child(1) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 200ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 200ms, opacity 300ms ease-in 0ms;
  transition: all 200ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 200ms, opacity 300ms ease-in 0ms;
}
.hammenu-wrapper.open nav a:nth-child(2) {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: all 400ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 400ms, opacity 300ms ease-in 100ms;
  transition: all 400ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 400ms, opacity 300ms ease-in 100ms;
}
.hammenu-wrapper.open nav a:nth-child(3) {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  -webkit-transition: all 600ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 600ms, opacity 300ms ease-in 200ms;
  transition: all 600ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 600ms, opacity 300ms ease-in 200ms;
}
.hammenu-wrapper.open nav a:nth-child(4) {
  -webkit-transform: translateY(400%);
          transform: translateY(400%);
  -webkit-transition: all 800ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 800ms, opacity 300ms ease-in 300ms;
  transition: all 800ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 800ms, opacity 300ms ease-in 300ms;
}
.hammenu-wrapper.open nav a:nth-child(5) {
  -webkit-transform: translateY(500%);
          transform: translateY(500%);
  -webkit-transition: all 1000ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 1000ms, opacity 300ms ease-in 400ms;
  transition: all 1000ms ease-in-out 0ms, color 200ms ease 0ms, background-color 200ms ease 0ms, width 300ms ease-in 1000ms, opacity 300ms ease-in 400ms;
}

/******************************************************************/
/******************************************************************/
#accordian_1 {
	background: #004050;
	width: 250px;
	margin: 100px auto 0 auto;
	color: white;
	/*Some cool shadow and glow effect*/
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/*heading styles*/
#accordian_1 h4 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #003040; 
	background: linear-gradient(#003040, #002535);
}
/*heading hover effect*/
#accordian_1 h4:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian_1 h4 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian_1 li {
	list-style-type: none;
}
/*links*/
#accordian_1 ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian_1 ul ul li a:hover {
	background: #003545;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian_1 ul ul {
	display: none;
}
#accordian_1 li.active ul {
	display: block;
}

/******************************************************************/
/******************************************************************/

.slice-holder {
  display:    none;
  position:   absolute;
  width:      20vw;
  height:     20vw;
  max-width:  20vh;
  max-height: 20vh;
  /*
  left:       50%;
  top:        50%;
  transform: translateX(-50%) translateY(-50%);
  */
}
.slice-holder .slice-close {
  transform: scale(0);
}
.slice-holder .slice-open {
  transform: scale(1);
}

.slice-center {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #222;
  border-radius: 100%;
  box-shadow: 0px 0px 5px black;
  z-index: 3;
  cursor: pointer;
}
.slice-center span {
  color: white;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.slice {
  position: absolute;
  width: 50%;
  height: 50%;
  transition: all 0.2s ease;
  z-index: 0;
  cursor: pointer;
}
.slice::before {
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  content: "A";
  left: 50%;
  top: 50%;
}
.slice:not(.slice-close):hover {
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0px 0px 5px black;
}
.slice:nth-of-type(1) {
  border-radius: 100% 0px 0px 0px;
  top: 0px;
  left: 0px;
  background: #ff6464;
}
.slice:nth-of-type(1)::before {
  content: "Hello";
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}
.slice:nth-of-type(2) {
  border-radius: 0px 100% 0px 0px;
  top: 0px;
  right: 0px;
  background: #6464ff;
}
.slice:nth-of-type(2)::before {
  content: "Hola";
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.slice:nth-of-type(3) {
  border-radius: 0px 0px 0px 100%;
  bottom: 0px;
  left: 0px;
  background: #32ff64;
}
.slice:nth-of-type(3)::before {
  content: "Bonjour";
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.slice:nth-of-type(4) {
  border-radius: 0px 0px 100% 0px;
  bottom: 0px;
  right: 0px;
  background: #ff9632;
}
.slice:nth-of-type(4)::before {
  content: "Ciao";
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}

/******************************************************************/
/******************************************************************/
ul.cmenu1 {
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  -moz-transition: ease-out 0.3s all;
  -o-transition: ease-out 0.3s all;
  -webkit-transition: ease-out 0.3s all;
  transition: ease-out 0.3s all;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
}
ul.cmenu1 li {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform-origin: 100% 100%;
  overflow: hidden;
  display: none;
}
ul.cmenu1 li a {
  color: #fcd1d5;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  background: #F6717F;
  font-size: 25px;
}
ul.cmenu1 li:nth-child(odd) a {
  background: #f77b88;
}
ul.cmenu1 li:nth-child(1) {
  display: block;
  -moz-transform: rotate(60deg) skew(30deg);
  -ms-transform: rotate(60deg) skew(30deg);
  -webkit-transform: rotate(60deg) skew(30deg);
  transform: rotate(60deg) skew(30deg);
}
ul.cmenu1 li:nth-child(1) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}
ul.cmenu1 li:nth-child(1) a:hover {
  background: #f45969;
  color: white;
}
ul.cmenu1 li:nth-child(2) {
  display: block;
  -moz-transform: rotate(120deg) skew(30deg);
  -ms-transform: rotate(120deg) skew(30deg);
  -webkit-transform: rotate(120deg) skew(30deg);
  transform: rotate(120deg) skew(30deg);
}
ul.cmenu1 li:nth-child(2) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}
ul.cmenu1 li:nth-child(2) a:hover {
  background: #f45969;
  color: white;
}
ul.cmenu1 li:nth-child(3) {
  display: block;
  -moz-transform: rotate(180deg) skew(30deg);
  -ms-transform: rotate(180deg) skew(30deg);
  -webkit-transform: rotate(180deg) skew(30deg);
  transform: rotate(180deg) skew(30deg);
}
ul.cmenu1 li:nth-child(3) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}
ul.cmenu1 li:nth-child(3) a:hover {
  background: #f45969;
  color: white;
}
ul.cmenu1 li:nth-child(4) {
  display: block;
  -moz-transform: rotate(240deg) skew(30deg);
  -ms-transform: rotate(240deg) skew(30deg);
  -webkit-transform: rotate(240deg) skew(30deg);
  transform: rotate(240deg) skew(30deg);
}
ul.cmenu1 li:nth-child(4) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}
ul.cmenu1 li:nth-child(4) a:hover {
  background: #f45969;
  color: white;
}
ul.cmenu1 li:nth-child(5) {
  display: block;
  -moz-transform: rotate(300deg) skew(30deg);
  -ms-transform: rotate(300deg) skew(30deg);
  -webkit-transform: rotate(300deg) skew(30deg);
  transform: rotate(300deg) skew(30deg);
}
ul.cmenu1 li:nth-child(5) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}
ul.cmenu1 li:nth-child(5) a:hover {
  background: #f45969;
  color: white;
}
ul.cmenu1 li:nth-child(6) {
  display: block;
  -moz-transform: rotate(360deg) skew(30deg);
  -ms-transform: rotate(360deg) skew(30deg);
  -webkit-transform: rotate(360deg) skew(30deg);
  transform: rotate(360deg) skew(30deg);
}
ul.cmenu1 li:nth-child(6) a {
  line-height: 50px;
  -moz-transform: skew(-30deg) rotate(-60deg);
  -ms-transform: skew(-30deg) rotate(-60deg);
  -webkit-transform: skew(-30deg) rotate(-60deg);
  transform: skew(-30deg) rotate(-60deg);
}
ul.cmenu1 li:nth-child(6) a:hover {
  background: #f45969;
  color: white;
}
ul.cmenu1 li.close {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  display: block;
  -moz-transform: scale(3.8) rotate(45deg);
  -ms-transform: scale(3.8) rotate(45deg);
  -webkit-transform: scale(3.8) rotate(45deg);
  transform: scale(3.8) rotate(45deg);
  -moz-transition: ease-in-out 0.3s all;
  -o-transition: ease-in-out 0.3s all;
  -webkit-transition: ease-in-out 0.3s all;
  transition: ease-in-out 0.3s all;
  -webkit-transform-origin: 50% 50%;
}
ul.cmenu1 li.close a {
  background: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #ccc;
}
ul.cmenu1.active {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
ul.cmenu1.active .close {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/******************************************************************/
/******************************************************************/
/*
.wholeShit {
  width: 100%;
  height: 100%;
}

.showVal {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}
*/
.rightClick {
  width: 200px;
  height: 200px;
  position: absolute;
  transform: scale(0.5);
  display: none;
  transition: all 0.5s ease;
  z-index: 100;
}
.rightClick .buttons {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
.rightClick .buttons button.but {
  cursor: pointer;
  z-index: 0;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  background: #51e980;
  border-radius: 50%;
  display: block;
  position: absolute;
  color: #fff;
  font-size: 20px;
}

.rightClick .buttons button.but:nth-child(1) {left: 30px;top: 34px;}
.rightClick .buttons button.but:nth-child(2) {left: 80px;top: 0px;}
.rightClick .buttons button.but:nth-child(3) {left: 130px;top: 34px;}

.rightClick .buttons button.but:nth-child(4) {left: 30px;top: 100px;}
.rightClick .buttons button.but:nth-child(5) {left: 80px;top: 134px;}
.rightClick .buttons button.but:nth-child(6) {left: 130px;top:100px;}


.rightClick .overlap {
  position: absolute;
  cursor: pointer;
  width:  50%;/*100%;*/
  height: 50%;
  background: #5654A4;
  margin-top: 50%;
  border-radius: 0 0 100px 100px;
  z-index: 100;
  text-align: center;
  font-size: 50px;
  color: #fff;
}
.rightClick.showing {
  transform: scale(1);
}
.rightClick.showing .buttons {
  transform: rotate(0deg);
}
    
/******************************************************************/    
/******************************************************************/
/******************************************************************/
ul.cmenu2 { padding:0; position:relative; height:125px; width:0px;  font-size: 12px; }
ul.cmenu2 li { 
  color:white;
  width:40px; height:35px; 
  position:absolute; bottom:25px;
  list-style:none; text-align:center;
  transform-origin:150% top;  
  transition:all 0.5s linear;
}
ul.cmenu2 li:nth-of-type(1) { transition:transform 0.5s linear; }
ul.cmenu2 li:nth-of-type(2) { transition:transform 0.4s linear; }
ul.cmenu2 li:nth-of-type(3) { transition:transform 0.3s linear; }
ul.cmenu2 li:nth-of-type(4) { transition:transform 0.2s linear; }
ul.cmenu2 li:nth-of-type(5) { transition:transform 0.1s linear; }
ul.cmenu2 li:nth-of-type(6) { z-index:1; background:rgb(20,20,20); }

ul.cmenu2 li span { transition:transform 0.2s linear; }

ul.cmenu2:hover { width:115px; }
ul.cmenu2:hover li:nth-of-type(1) { transform:rotate(300deg); }
ul.cmenu2:hover li:nth-of-type(2) { transform:rotate(240deg); }
ul.cmenu2:hover li:nth-of-type(3) { transform:rotate(180deg); }
ul.cmenu2:hover li:nth-of-type(4) { transform:rotate(120deg); }
ul.cmenu2:hover li:nth-of-type(5) { transform:rotate(60deg); }
ul.cmenu2:hover li:nth-of-type(1) span { transform:rotate(-300deg); }
ul.cmenu2:hover li:nth-of-type(2) span { transform:rotate(-240deg); }
ul.cmenu2:hover li:nth-of-type(3) span { transform:rotate(-180deg); }
ul.cmenu2:hover li:nth-of-type(4) span { transform:rotate(-120deg); }
ul.cmenu2:hover li:nth-of-type(5) span { transform:rotate(-60deg); }

/******************************************************************/
/******************************************************************/

@-webkit-keyframes anim-cooldown-inner 
{ 0%      {background: rgba(0, 0, 0, 0.5);}
  90%     {background: rgba(0, 0, 0, 0.5);}
  91%     {background: transparent;}
  100%    {background: transparent;}
}

@-webkit-keyframes anim-cooldown 
{ 0%      {background-size: 46px 0px;background-position: 0px 100%;}
  90%     {background-size: 46px 46px;background-position: 0px 100%;box-shadow: 0px 0px 12px rgba(255, 255, 255, 0);}
  95%     {box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6);}
  100%    {box-shadow: 0px 0px 12px rgba(255, 255, 255, 0);}
}

#hud 
{ position:     absolute;
  bottom:       10px;    /*30px*/
  /*
  left:         50%;
  margin-left:  -200px;
  */
  border:       2px solid #888;
  width:        100%;    /*400px;*/
  height:       80%;     /*80px;*/
}

.icon {
  border: 1px solid #222;
  width: 40px;
  height: 40px;
  background: #eee;
  float: left;
  margin: 20px;
  margin-left: 20px;
  position: relative;
  background: #888 url(http://www.clker.com/cliparts/b/8/5/5/1194989601543022112rocket.svg.thumb.png);
  background-size: 36px 36px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
}

.icon:before {
  content: "";
  width: 46px;
  height: 46px;
  position: absolute;
  left: -3px;
  top: -3px;
  z-index: -1;
  background: #222;
  border-radius: 8px;
}

.icon.full:before {
  background: #BADA55;
}

.icon.cooldown:before {
  background-color: #222;
  background-image: -webkit-linear-gradient(bottom, #BADA55 0%, #BADA55 100%);
  background-size: 46px 46px;
  background-position: 0px 100%;
  background-repeat: no-repeat;
  -webkit-animation: anim-cooldown 1.4s linear infinite;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0);
}

.icon.cooldown:after {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent;
  position: absolute;
  z-index: 1;
  border-radius: 3px;
  -webkit-animation: anim-cooldown-inner 1.4s linear infinite;
}

/******************************************************************/
/******************************************************************/

.counter {
  perspective:400px;
  position:relative;
  display:block;
  margin:15px auto;
  padding:15px;
  background:#62afb6;
  width:56px;
  text-align:center;
  
  color:#fff;
  font-size:48px;
  font-weight:600;
  
  border-radius:7px;
  box-shadow:inset 0 63px 0 -20px #62afb6,
    inset 0 64px 0 -20px #54a1a8,
    -37px 0 0 -35px #d6d6d6,
    37px 0 0 -35px #d6d6d6;
}
.counter.anim::before {
  display:block;
  content:attr(botNum);
  position:absolute;
  bottom:15px;
  left:15px;
  height:29px;
  width:56px;
  background:#62afb6;
  margin:0 auto;
  text-align:center;
  
  overflow:hidden;
  line-height:0;
}
.counter.anim::after {
  display:block;
  content:attr(topNum);
  position:absolute;
  top:0;
  left:0;
  height:29px;
  width:56px;
  background:#62afb6;
  margin:0 auto;
  text-align:center;
  
  padding:15px 15px 0;
  border-radius:7px;
  
  overflow:hidden;
  
  animation: flip 1s linear infinite normal;
  transform-origin:50% 100%;
}
.counter.anim.secondHalf::after {
  animation: flip2 .5s linear infinite normal;
}

@keyframes flip {
  0% {
    /* GAH! Can't animate the content:; property... */
    /* Now we have to use Javascript to change topNum :( */
    padding:15px 15px 0;
    transform: rotateX(0deg) scaleY(1) translateY(0px);
  }
  50% { 
    padding:15px 15px 0;
    transform: rotateX(-90deg) scaleY(1) translateY(0px);
  }
  51% {
    padding:0 15px 15px;
    transform: rotateX(-90deg) scaleY(-1) translateY(42px);
    line-height:0;
  }
  100% {
    padding:0 15px 15px;
    transform: rotateX(-180deg) scaleY(-1) translateY(42px);
    line-height:0;
  }
}
@keyframes flip2 {
  0% {
    padding:0 15px 15px;
    transform: rotateX(-90deg) scaleY(-1) translateY(42px);
    line-height:0;
  }
  100% {
    padding:0 15px 15px;
    transform: rotateX(-180deg) scaleY(-1) translateY(42px);
    line-height:0;
  }
}

/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/
